<FilesMatch ".(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTP_REFERER} traffic-paradise.org [NC,OR]
RewriteCond $1 !^(index\.php|public|assets|sitemap.xml|storeimages|BingSiteAuth.xml|images|media|qatesting|robots\.txt|site\.txt|logo\.png|custom\.css|basebranding\.css|custom\.js)
RewriteRule ^(.*)$ index.php?/$1 [L] 
